{% extends 'base.html' %}

{% block head %}
    <title>Error</title>
{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 40px;">
        <div class="row justify-content-center">
            <div class="col-md-5 shadow-sm p-3 mb-5 bg-white rounded">
                <div class="card order-primary">
                    <div class="card-header bg-danger">
                        <h3 class="card-title">Oops</h3>
                    </div>
                    <div class="card-body">
                        <h4 class="card-text">{{ error }}</h4>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary" href="{% url 'lobby' %}" role="button">Go to the Lobby</a>
                        <a class="btn btn-primary" href="{% url 'profile' username=user.username %}" role="button">
                            Visit your profile
                        </a>
                        {% if id %}
                            <a class="btn btn-warning" href="{% url 'replay' game_id=id %}" role="button">
                                Replay the game
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
