{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    <title>Login Page</title>
{% endblock %}
{% block body %}

    <div class="container" style="margin-top: 50px;">
        <div class="row justify-content-center">
            <div class="col-md-5 shadow-sm p-3 mb-5 bg-white rounded">
                <div class="card border-primary">
                    <div class="card-header bg-primary text-white">
                        <h1 class="card-title">Sign in</h1>
                        <h6 class="card-subtitle mb-2 " style="color: lightsteelblue">
                            Log into EnPassant to start playing.
                        </h6>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'login' %}" method="post" novalidate>
                            {% csrf_token %}
                            {{ form | crispy }}
                            <button type="submit" class="btn btn-warning" style="margin: 5px">Sign in</button>
                        </form>
                        <a href="{% url 'password_reset' %}">I forgot my password.</a>
                        <a style=" float: right" href="{% url 'signup' %}">Don't have an account? Create one.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}