{% extends 'base.html' %}
{% block head %}
    <title>{{ title }}</title>
{% endblock %}
{% block body %}
    <div class="container" style="margin-top: 50px;">
        <div class="row justify-content-center">
            <div class="col-md-5 shadow-sm p-3 mb-5 bg-white rounded">
                <div class="card border-primary">
                    <div class="card-header bg-primary text-white">
                        <h1 class="card-title">{{ title }}</h1>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 ">
                            We’ve emailed you instructions for setting your password. If an account exists with the
                            email you entered, you should receive them shortly. <br>
                            If you don’t receive an email, please
                            make sure you’ve entered the address you registered with, and check your spam folder.
                        </h6>
                        <a class="btn btn-secondary" href="{% url 'home' %}" role="button">Return at the home page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}