{% extends 'base.html' %}
{% block head %}
    <title>Activation</title>
{% endblock %}
{% block body %}
    <div class="container" style="margin-top: 50px;">
        <div class="row justify-content-center">
            <div class="col-md-5 shadow-sm p-3 mb-5 bg-white rounded">
                {% if valid_link %}
                    <div class="card border-primary">
                        <div class="card-header bg-primary text-white">
                            <h4 class="card-title">Thank you for your email confirmation. Now you can log into your
                                account</h4>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-warning" href="{% url 'login' %}" role="button">Sign in</a>
                        </div>
                    </div>
                {% else %}
                    <div class="card border-primary">
                        <div class="card-header bg-danger text-white">
                            <h4 class="card-title">Activation link is invalid!</h4>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-secondary" href="{% url 'home' %}" role="button">Back to home.</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}