{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    <title>Password change</title>
{% endblock %}
{% block body %}

    <div class="container" style="margin-top: 50px;">
        <div class="row justify-content-center">
            <div class="col-md-5 shadow-sm p-3 mb-5 bg-white rounded">
                <div class="card border-primary">
                    <div class="card-header bg-primary text-white">
                        <h1 class="card-title">Password change</h1>
                        <h6 class="card-subtitle mb-2 " style="color: lightsteelblue">
                            Please enter your old password, for security’s sake, and then enter your new password twice
                            so we can verify you
                            typed it in correctly.
                        </h6>
                    </div>
                    <div class="card-body">
                        <form method="post" novalidate>
                            {% csrf_token %}
                            {{ form | crispy }}
                            <row>
                                <button type="submit" class="btn btn-warning" style="margin: 5px">
                                    Change my password
                                </button>
                                <a class="btn btn-secondary" href="{% url 'profile' username=user.username %}"
                                   role="button" style="float: right; margin: 5px">Return to your profile.</a>
                            </row>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}





