{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    <title>Edit Profile</title>
{% endblock %}

{% block body %}

    <div class="container" style="margin-top: 50px;">
        <div class="row justify-content-center">
            <div class="col-md-5 shadow-sm p-3 mb-5 bg-white rounded">
                <div class="card border-primary">
                    <div class="card-header bg-primary text-white">
                        <h1 class="card-title">Edit your profile</h1>
                        <h6 class="card-subtitle mb-2 " style="color: lightsteelblue">
                            Here you can change your profile information but you cannot change your password. For that,
                            <a href="{% url 'password_change' %}" style="color: lightsteelblue">click here</a>.
                        </h6>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data" novalidate>
                            {% csrf_token %}
                            {{ form | crispy }}
                            <row>
                                <button type="submit" class="btn btn-warning" style="margin: 5px">Edit my info</button>
                                <a class="btn btn-secondary" href="{% url 'profile' username=user.username %}"
                                   role="button">Back to your profile</a>
                            </row>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
