{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    <title>Registration Page</title>
{% endblock %}
{% block body %}

    <div class="container" style="margin-top: 50px;">
        <div class="row justify-content-center">
            <div class="col-md-5 shadow-sm p-3 mb-5 bg-white rounded">
                <div class="card border-primary">
                    <div class="card-header bg-primary text-white">
                        <h1 class="card-title">Sign up</h1>
                        <h6 class="card-subtitle mb-2 " style="color: lightsteelblue">
                            Please enter the information required to create your EnPassant account.
                        </h6>
                    </div>
                    <div class="card-body">
                        <form enctype="multipart/form-data" method="post" novalidate>
                            {% csrf_token %}
                            {{ form | crispy }}
                            <button type="submit" class="btn btn-warning" style="margin: 10px">
                                Create the account
                            </button>
                            <a style=" float: right; margin: 10px" href="{% url 'login' %}">Already registered? Sign in!</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
