{% extends 'base.html' %}
{% block head %}
    <title>Activation</title>
{% endblock %}
{% block body %}
    <div class="container" style="margin-top: 50px;">
        <div class="row justify-content-center">
            <div class="col-md-5 shadow-sm p-3 mb-5 bg-white rounded">
                <div class="card border-danger">
                    <div class="card-header bg-danger text-white">
                        <h3 class="card-title">Please confirm your email address to complete the registration.</h3>
                    </div>
                    <div class="card-body">
                        <h5>
                            We’ve emailed you instructions to activate your account. <br>
                            If you don’t receive an email, please make sure you’ve entered the address you registered
                            with, and check your spam folder.
                        </h5>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-secondary" href="{% url 'home' %}" role="button">Back to home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}